
.active-btn{
    background-color: rgba(0, 0, 0, 0.747);
    color: whitesmoke;
    margin-bottom: 8px;
    font-size: 3vw;
    border-radius: 5px;
    padding: 4px;
}
.active-btn:hover{
    background-color: navy;
    color: whitesmoke;

}