.list-item:hover{
    background-color: rgb(68, 229, 250);
   

}


.list-btn:hover{
    color: black;
    font-weight: bold;
    

}

.list-btn:hover .list-icon{
    color: black;
    
}

.dashboard-item{
    text-decoration: none;
    color: black;
}

.addcarbg{
    margin-top: -90px;
    background-image: linear-gradient(white,black);
    background:url(../../images/addcarcover2.png);
    background-size: cover;
    background-repeat: no-repeat;
    /* backgroundPosition: 'center',
    backgroundSize: 'cover', */

}
.addcar-form{
    background-color: rgba(253, 247, 222, 0.884);
    padding: 30px;
    color: white;
    
}
.form-container label{
    color:navy;
    font-weight: bold;
}

.delete-btn{
    background-color: crimson;
    color: white;
    font-weight: bold;
}
.delete-btn:hover{
    background-color: black;


}

